.synopsis {
    color: #7E8184;
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

.button:link, .button:visited {
    display: block;
    text-decoration: none;

    color: #FFF;
    background-color: #5995DA;    /* Blue */
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    /* Dark gray */
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.button:hover, .button:visited:hover {
    color: #FFF;
    background-color: #76AEED;
}

.button:active, .button:visited:active {
    color: #FFF;
    background-color: #5995DA;
}

.page {
    width: 600px;
    margin: 0 auto;
}

/* When there’s two conflicting properties in a CSS file, the last one is always the one that gets applied. */
.call-to-action:link, .call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover, .call-to-action:visited:active {
    background-color: #EEB75A;
}

/* Pseudo-classes for links */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

/* The :last-of-type pseudo-class selects the final element of a particular type in its parent element. */
p:last-of-type {
    margin-bottom: 50px;
}

/*
p:first-of-type {
    color: #7E8184;
    font-style: italic;
}
*/

/* If you wanted to avoid the sidebar paragraphs and select only the first <p> in our <div class='page'>, you would need to limit its scope using a child selector */
.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

#button-2 {
    color: #5D6063;
    background-color: #D55C5F;    /* Red */
}